<% content_for :subtitle do -%>
...what's "Articl" in Spanish anyway?
<%- end %>
<%= render(:partial => "titlebar") %>

<div id="content">
	<h2><%=h @article.title %></h2>
	<p><%=h "by #{@article.author}. #{@article.edit_count} edits since #{@article.created_at.strftime("%b.%e %Y")}" %></p>
	<br />
	<%=h simple_format(@article.body) %>
</div>
