<% content_for :subtitle do -%>
	...with a name .com hipsters love!
<%- end %>
<div class="titlebar">
	<ul>
		<li class="larger">All the World's Articles</li>
		<li><%= link_to image_tag("add.png", :border => 0, :align => "texttop")+"Create an Article",new_article_path %></li>
	</ul>
</div>
<%= render :partial => 'articles_table', :locals => {:articles => @articles} %> 
<div id="footer">
	<%= page_entries_info @articles %>
</div>
<br />
<%= will_paginate @articles %>
